* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-padre {
  background-color: #3E131B;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 10rem;
  padding: 0;
  margin: 0;
}
.header-padre .row, .header-padre .col {
  margin: 0;
  padding: 0;
}
.header-padre .banner-title {
  color: #CACECA;
  font-size: 100px;
  font-family: "DatBox";
}
.header-padre .b-tt1, .header-padre .b-tt2 {
  display: none;
}
@media (max-width: 1300px) {
  .header-padre .b-tt1, .header-padre .b-tt2 {
    display: none;
  }
}
@media (max-width: 900px) {
  .header-padre .banner-title {
    font-size: 75px;
  }
  .header-padre .b-tt1, .header-padre .b-tt2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-padre .banner-title {
    font-size: 70px;
  }
  .header-padre .b-tt1, .header-padre .b-tt2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-padre .banner-title {
    display: none;
  }
  .header-padre .b-tt1 {
    display: flex;
    font-size: 55px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
  .header-padre .b-tt2 {
    display: flex;
    font-size: 55px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .header-padre .banner-title {
    display: none;
  }
  .header-padre .b-tt1 {
    display: flex;
    font-size: 45px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
  .header-padre .b-tt2 {
    display: flex;
    font-size: 45px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
}

.main-padre {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}
.main-padre .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.main-padre .align-items-center {
  padding: 0;
  margin: 0;
}
.main-padre .left-bar-content {
  background-color: #0A2733;
  max-width: 25vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main-padre .center-body-content {
  background-color: #CACECA;
  width: 50vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main-padre .right-bar-content {
  background-color: #0A2733;
  max-width: 25vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main-padre .top-bar-lowreso {
  display: none;
}
.main-padre .bottom-bar-lowreso {
  display: none;
}
.main-padre a {
  color: #0A2733;
  text-decoration: none;
}
.main-padre .main-title {
  font-family: "cursif";
  font-size: 60px;
  font-weight: bolder;
  padding-top: 5rem;
}
.main-padre .body-text-content {
  font-family: "font-printcess";
  font-size: 54px;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
}
.main-padre strong {
  color: #533956;
}
@media (max-width: 1600px) {
  .main-padre .body-text-content {
    font-size: 40px;
  }
}
@media (max-width: 1300px) {
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 20vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 60vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    background-color: #0A2733;
    max-width: 20vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .bottom-bar-lowreso {
    display: none;
  }
  .main-padre .main-title {
    font-size: 60px;
    padding-top: 5rem;
  }
  .main-padre .body-text-content {
    font-size: 40px;
  }
}
@media (max-width: 1100px) {
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 20vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 80vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    display: none;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .main-title {
    font-size: 60px;
    padding-top: 5rem;
  }
  .main-padre .body-text-content {
    font-size: 35px;
  }
}
@media (max-width: 900px) {
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 20vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 80vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    display: none;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .main-title {
    font-size: 60px;
    padding-top: 5rem;
  }
  .main-padre .body-text-content {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 15vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 85vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    display: none;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .main-padre .top-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 15vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .left-bar-content {
    display: none;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    display: none;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .main-padre .top-bar-lowreso {
    background-color: #0A2733;
    color: #CACECA;
    font-family: "Art-Post";
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .left-bar-content {
    display: none;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 100vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    display: none;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .main-title {
    font-size: 45px;
    padding-top: 5rem;
  }
  .main-padre .body-text-content {
    font-size: 28px;
  }
}

.footer-padre {
  background-color: #3E131B;
  max-width: 100%;
  height: 10rem;
  padding: 0;
}
.footer-padre .row, .footer-padre .col {
  margin: 0;
  padding: 0;
}

.left-bar-content .botones-izquierda {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.left-bar-content .botones-izquierda hr {
  color: #CACECA;
  margin: 0;
}
.left-bar-content .botones-izquierda .fila {
  display: block;
  position: relative;
  height: 75px;
  width: auto;
  font-size: 40px;
  color: #CACECA;
  background-color: #0A2733;
  transition: filter 0.3s;
}
.left-bar-content .botones-izquierda .fila:hover {
  font-weight: bolder;
  color: #0A2733;
  background-color: #CACECA;
  cursor: pointer;
  filter: none;
}
.left-bar-content .botones-izquierda .fila:hover a {
  color: #CACECA;
}
.left-bar-content .botones-izquierda .fila:hover ~ .fila,
.left-bar-content .botones-izquierda .fila:hover + .fila,
.left-bar-content .botones-izquierda .fila:hover > .fila {
  filter: blur(0.2rem); /* Aplica el filtro a los elementos hermanos */
}

@font-face {
  font-family: "DatBox";
  src: url("../fonts/DatBox.ttf");
}
@font-face {
  font-family: "Art-Post";
  src: url("../fonts/Art-Post.ttf");
}
@font-face {
  font-family: "cursif";
  src: url("../fonts/cursif.ttf");
}
@font-face {
  font-family: "didactgothic-regular";
  src: url("../fonts/didactgothic-regular.ttf");
}
@font-face {
  font-family: "font-printcess";
  src: url(../fonts/font-printcess.ttf);
}/*# sourceMappingURL=styles.css.map */