@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";

@font-face {
    font-family: "DatBox";
    src: url("../fonts/DatBox.ttf")
}

@font-face {
    font-family: "Art-Post";
    src: url("../fonts/Art-Post.ttf")
}