@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/left-bar";

@font-face {
    font-family: "DatBox";
    src: url("../fonts/DatBox.ttf")
}

@font-face {
    font-family: "Art-Post";
    src: url("../fonts/Art-Post.ttf")
}

@font-face {
    font-family: "cursif";
    src: url("../fonts/cursif.ttf")
}

@font-face {
    font-family: "didactgothic-regular";
    src: url("../fonts/didactgothic-regular.ttf")
}

@font-face {
    font-family: "printcess";
    src: url("../fonts/printcess.ttf)
}