* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-padre {
  background-color: #3E131B;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 10rem;
  padding: 0;
  margin: 0;
}
.header-padre .row, .header-padre .col {
  margin: 0;
  padding: 0;
}
.header-padre .banner-title {
  color: #CACECA;
  font-size: 100px;
  font-family: "DatBox";
}
.header-padre .b-tt1, .header-padre .b-tt2 {
  display: none;
}
@media (max-width: 1300px) {
  .header-padre .b-tt1, .header-padre .b-tt2 {
    display: none;
  }
}
@media (max-width: 900px) {
  .header-padre .banner-title {
    font-size: 75px;
  }
  .header-padre .b-tt1, .header-padre .b-tt2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-padre .banner-title {
    font-size: 70px;
  }
  .header-padre .b-tt1, .header-padre .b-tt2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-padre .banner-title {
    display: none;
  }
  .header-padre .b-tt1 {
    display: flex;
    font-size: 55px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
  .header-padre .b-tt2 {
    display: flex;
    font-size: 55px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .header-padre .banner-title {
    display: none;
  }
  .header-padre .b-tt1 {
    display: flex;
    font-size: 45px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
  .header-padre .b-tt2 {
    display: flex;
    font-size: 45px;
    color: #CACECA;
    font-family: "DatBox";
    align-items: center;
    justify-content: center;
  }
}

.left-bar-content .botones-izquierda {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.left-bar-content .botones-izquierda hr {
  color: #CACECA;
  margin: 0;
}
.left-bar-content .botones-izquierda .fila {
  display: flex;
  font-family: "font-printcess";
  justify-content: space-around;
  flex-direction: column;
  height: 75px;
  width: auto;
  font-size: 60px;
  color: #CACECA;
  background-color: #0A2733;
}
.left-bar-content .botones-izquierda .fila:hover {
  font-weight: bolder;
  color: #CACECA;
  background-color: #3E131B;
  cursor: pointer;
}
.left-bar-content .botones-izquierda .fila:hover a {
  color: #CACECA;
}
.left-bar-content .botones-izquierda .fila:active {
  color: #3E131B; /* Cambia el color al hacer clic */
  background-color: #CACECA;
}
@media (max-width: 1300px) {
  .left-bar-content .botones-izquierda .fila {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .left-bar-content .botones-izquierda .fila {
    font-size: 30px;
  }
}
.main-padre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}
.main-padre .right-bar-content {
  display: flex;
  background-color: #0A2733;
  max-width: 25vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main-padre .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.main-padre .align-items-center {
  padding: 0;
  margin: 0;
}
.main-padre .left-bar-content {
  background-color: #0A2733;
  max-width: 25vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main-padre .center-body-content {
  background-color: #CACECA;
  width: 50vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.main-padre .top-bar-lowreso {
  display: none;
}
.main-padre .bottom-bar-lowreso {
  display: none;
}
.main-padre a {
  color: #0A2733;
  text-decoration: none;
}
.main-padre .main-title {
  font-family: "cursif";
  font-size: 60px;
  font-weight: bolder;
  padding-top: 5rem;
}
.main-padre .body-text-content {
  font-family: "font-printcess";
  font-size: 45px;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
}
.main-padre strong {
  color: #533956;
}
@media (max-width: 1600px) {
  .main-padre .body-text-content {
    font-size: 40px;
  }
}
@media (max-width: 1300px) {
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 20vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 60vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .right-bar-content {
    max-width: 25vh;
  }
  .main-padre .bottom-bar-lowreso {
    display: none;
  }
  .main-padre .main-title {
    font-size: 60px;
    padding-top: 5rem;
  }
  .main-padre .body-text-content {
    font-size: 40px;
  }
}
@media (max-width: 1226px) {
  .main-padre .body-text-content {
    font-size: 37px;
  }
}
@media (max-width: 1100px) {
  .main-padre .right-bar-content {
    flex: 0 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    padding: 12px;
    height: auto;
  }
  .main-padre .right-bar {
    display: flex;
    max-width: 100%;
  }
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 20vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    display: flex;
    flex-direction: column;
    background-color: #CACECA;
    width: 80vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .main-title {
    font-size: 60px;
    padding-top: 5rem;
  }
  .main-padre .body-text-content {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    max-width: 15vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .center-body-content {
    background-color: #CACECA;
    width: 85vh;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .main-padre .bottom-bar-lowreso {
    background-color: #0A2733;
    display: flex;
    height: 20vh;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 722px) {
  .main-padre .body-text-content {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .main-padre hr {
    display: none;
  }
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .main-padre {
    padding: 0;
    margin: 0;
    max-width: 100vw;
  }
  .main-padre .align-items-center {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 100vh;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
  }
  .main-padre .left-bar-content .botones-izquierda {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .main-padre .left-bar-content .fila {
    padding: 1rem;
  }
  .main-padre .left-bar-content .botones-izquierda:hover {
    font-weight: bolder;
    background-color: #533956;
    cursor: pointer;
  }
  .main-padre .left-bar-content .fila:hover {
    font-weight: bolder;
    color: #CACECA;
    background-color: #533956;
    cursor: pointer;
  }
  .main-padre .left-bar-content a {
    color: #3E131B;
  }
}
@media (max-width: 540px) {
  .main-padre hr {
    display: none;
  }
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .main-padre {
    padding: 0;
    margin: 0;
    max-width: 100vw;
  }
  .main-padre .align-items-center {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 100vh;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
  }
  .main-padre .left-bar-content .botones-izquierda {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .main-padre .left-bar-content .fila {
    padding: 0.5rem;
    font-size: 25px;
  }
  .main-padre .left-bar-content .botones-izquierda:hover {
    font-weight: bolder;
    background-color: #533956;
    cursor: pointer;
  }
  .main-padre .left-bar-content .fila:hover {
    font-weight: bolder;
    color: #CACECA;
    background-color: #533956;
    cursor: pointer;
  }
  .main-padre .left-bar-content a {
    color: #3E131B;
  }
}
@media (max-width: 480px) {
  .main-padre hr {
    display: none;
  }
  .main-padre .top-bar-lowreso {
    display: none;
  }
  .main-padre .main-padre {
    padding: 0;
    margin: 0;
    max-width: 100vw;
  }
  .main-padre .align-items-center {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .main-padre .left-bar-content {
    background-color: #0A2733;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 100vh;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
  }
  .main-padre .left-bar-content .botones-izquierda {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .main-padre .left-bar-content .fila {
    padding: 0.4rem;
    font-size: 25px;
  }
  .main-padre .left-bar-content .botones-izquierda:hover {
    font-weight: bolder;
    background-color: #533956;
    cursor: pointer;
  }
  .main-padre .left-bar-content .fila:hover {
    font-weight: bolder;
    color: #CACECA;
    background-color: #533956;
    cursor: pointer;
  }
  .main-padre .left-bar-content a {
    color: #3E131B;
  }
}

.right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 24%;
}
.right-bar-content .right-bar .main-title-right {
  font-family: fantasy;
  font-size: 22px;
  color: #CACECA;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-top: 50px;
}
.right-bar-content .right-bar .mtr-2 {
  font-family: fantasy;
  font-size: 22px;
  color: #CACECA;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 1px;
}
@media (max-width: 1600px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 25%;
  }
}
@media (max-width: 1520px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 25%;
  }
}
@media (max-width: 1300px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 25%;
  }
  .right-bar-content .right-bar .main-title-right, .right-bar-content .right-bar .mtr-2 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top: 20px;
  }
}
@media (max-width: 1300px) and (max-width: 1100px) and (min-width: 898px) {
  .right-bar-content .right-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    display: flex;
    padding: 20px;
    height: 13rem;
  }
  .right-bar-content .right-bar .main-title-right, .right-bar-content .right-bar .mtr-2 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-top: 20px;
  }
}
@media (max-width: 1300px) and (max-width: 897.99px) and (min-width: 769.01px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    padding: 20px;
    height: 9rem;
  }
}
@media (max-width: 1300px) and (max-width: 768px) and (min-width: 600.01px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    padding: 20px;
    height: 8rem;
  }
}
@media (max-width: 1300px) and (max-width: 600px) and (min-width: 555.01px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    padding: 5px;
    height: 7rem;
  }
  .right-bar-content .right-bar .main-title-right {
    font-size: 20px;
    padding: 2px;
  }
  .right-bar-content .right-bar .mtr-2 {
    font-family: fantasy;
    font-size: 20px;
    color: #CACECA;
    padding: 2px;
  }
}
@media (max-width: 1300px) and (max-width: 555px) and (min-width: 480.01px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    padding: 5px;
    height: 5rem;
  }
  .right-bar-content .right-bar .main-title-right {
    font-size: 14px;
    padding: 3px;
  }
  .right-bar-content .right-bar .mtr-2 {
    font-family: fantasy;
    font-size: 14px;
    color: #CACECA;
    padding: 3px;
  }
}
@media (max-width: 1300px) and (max-width: 480px) and (min-width: 400px) {
  .right-bar-content .right-bar .image-publicity, .right-bar-content .right-bar .image-publicity2, .right-bar-content .right-bar .image-publicity3 {
    padding: 5px;
    height: 4rem;
  }
  .right-bar-content .main-title-right {
    font-size: 10px;
    padding: 2px;
  }
  .right-bar-content .mtr-2 {
    font-family: fantasy;
    font-size: 10px;
    color: #CACECA;
    padding: 2px;
  }
}

.footer-padre {
  background-color: #3E131B;
  max-width: 100%;
  height: 10rem;
  padding: 0;
}
.footer-padre .row, .footer-padre .col {
  margin: 0;
  padding: 0;
}
.footer-padre .socials-redes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Espacio entre columnas */
  width: -moz-max-content;
  width: max-content; /* Ancho de cada columna */
  margin: 0 auto;
}
.footer-padre .columna {
  margin-top: 0.5rem;
  color: #CACECA;
  text-align: center;
  padding: 2px;
  cursor: pointer; /* Cambia el cursor al pasar el puntero */
}
.footer-padre .columna:hover {
  color: #3E131B; /* Cambia el color al pasar el puntero */
  background-color: #CACECA;
  cursor: pointer;
  border-radius: 2rem;
}
.footer-padre .columna:active {
  color: #CACECA; /* Cambia el color al hacer clic */
  background-color: #7D2636;
}
.footer-padre .bottomfotter {
  display: grid;
}
.footer-padre .bottomfotter .footer-credit {
  display: grid;
  color: #CACECA;
  font-size: 15px;
}

.col1-1 {
  width: 40%;
  padding-bottom: 1rem;
}

.col1-2 {
  width: 40%;
}

.radio-program {
  border: 2px solid #0A2733;
  padding: 2px;
  color: #CACECA;
  background-color: #3E131B;
  text-align: center;
}

@font-face {
  font-family: "DatBox";
  src: url("../fonts/DatBox.ttf");
}
@font-face {
  font-family: "Art-Post";
  src: url("../fonts/Art-Post.ttf");
}
@font-face {
  font-family: "cursif";
  src: url("../fonts/cursif.ttf");
}
@font-face {
  font-family: "didactgothic-regular";
  src: url("../fonts/didactgothic-regular.ttf");
}
@font-face {
  font-family: "font-printcess";
  src: url(../fonts/font-printcess.ttf);
}/*# sourceMappingURL=styles.css.map */