@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/left-bar";
@import "./partials/main";
@import "./partials/right-bar";
@import "./partials/footer";
@import "./partials/programas";



@font-face {
    font-family: "DatBox";
    src: url("../fonts/DatBox.ttf")
}

@font-face {
    font-family: "Art-Post";
    src: url("../fonts/Art-Post.ttf")
}

@font-face {
    font-family: "cursif";
    src: url("../fonts/cursif.ttf")
}

@font-face {
    font-family: "didactgothic-regular";
    src: url("../fonts/didactgothic-regular.ttf")
}

@font-face {
    font-family: "font-printcess";
    src: url(../fonts/font-printcess.ttf)
}