.main-title-p {
    font-family: "cursif";
    font-size: 30px;
    font-weight: bolder;
    padding-top: 35px;
}

.body-text-content-p {
    font-family: "font-printcess";
    padding-top: 15px;
    font-size: 30px;
}

.carousel-padre {
    margin-right:10px;
    margin-left: 10px;
}

.body-text-content-p2 {
    margin-bottom: 5rem;
}

.carousel-padre {
    .config-carousel {
        margin-bottom: 1rem;
}
}
