.footer-padre {
    background-color: $color3;
    max-width: 100%;
    height: 5rem;
    padding: 0;
    
    .row, .col {
        margin:0;
        padding:0;
    }
    .socials-redes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; /* Espacio entre columnas */
        width: max-content; /* Ancho de cada columna */
        margin: 0 auto;
    }
    .columna {
        margin-top: 7px;
        color:$color2;
        text-align: center;
        padding: 2px;
        cursor: pointer; /* Cambia el cursor al pasar el puntero */
    }
    .columna:hover {
        color: $color3; /* Cambia el color al pasar el puntero */
        background-color: $color2;
        cursor: pointer;
        border-radius: 2rem;
    }
    .columna:active {
        color: $color2; /* Cambia el color al hacer clic */
        background-color: $color5;
    }
    .bottomfotter {
        display:grid;
        .footer-credit {
            display:grid;
            margin-top: 13px;
            margin-bottom: 8px;
            color:$color2;
            font-size: 15px;
        }
    }
}

