.left-bar-content {

    .botones-izquierda {
        display: flex;
        flex-direction: column;
        margin: 0;
    
        hr {
            color: $color2;
            margin:0;
        }
        .fila {
            display: block;
            font-family: "font-printcess";
            justify-content: space-around;
            flex-direction: column;
            height: 75px;
            width: auto;
            font-size: 60px;
            color: $color2;
            background-color: $color1;
            transition: filter 0.3 ease;
            }  
        .fila.blurred {
            filter:blur(2px);
        }
        .fila:hover {
            font-weight: bolder;
            color: $color2;
            background-color: $color3;
            cursor: pointer;
            
            a {
            color: $color2;
            }
        }
        .fila:active {
            color: $color3; /* Cambia el color al hacer clic */
            background-color: $color2;
        }
    
        @media (max-width: 1600px) {
        
        }
        @media (max-width: 1300px) {
            .fila {
                font-size: 40px;
            }
        }
        @media (max-width: 1100px) {
    
        }
        @media (max-width: 900px) {
    
        }
        @media (max-width: 768px) {
            .fila {
                font-size: 30px;
            }
        }
        @media (max-width: 600px) {
            
        }
        @media (max-width: 480px) {
    
        }
    }
}
