.col1-1 {
    width: 40%;
    padding-bottom: 1rem;
}
.col1-2 {
    width: 40%;
    }
.radio-program {
    border: 2px solid $color1;
    padding: 2px;
    color: $color2;
    background-color: $color3;
    text-align: center;
}