.right-bar-content {
    
    .right-bar {
        
        .image-publicity, .image-publicity2, .image-publicity3 {
            display:flex;
            justify-content: center;
            padding: 20px;
            height: 24%;
        }
        .main-title-right{ 
            font-family: fantasy;
            font-size: 22px;
            color: $color2;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 1px;
            padding-top: 50px;
        }
        .mtr-2 {
            font-family: fantasy;
            font-size: 22px;
            color:$color2;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 1px;
        }
    }
    @media (max-width: 1600px) {
        .right-bar {
            
            .image-publicity, .image-publicity2, .image-publicity3 {
                display:flex;
                justify-content: center;
                padding: 20px;
                height: 25%;
            }
        }
    }
    @media (max-width: 1520px) {
        .right-bar {
            .image-publicity, .image-publicity2, .image-publicity3 {
                display:flex;
                justify-content: center;
                padding: 20px;
                height: 25%;
            }
        }
    }
    @media (max-width: 1300px) {
        .right-bar {
            .main-title-right {
                font-size: 29px;
                margin-left: auto;
                margin-right: auto;
                }
            .mtr-2 {
                font-size: 29px;
                margin-left: auto;
                margin-right: auto;
            }
            .image-publicity, .image-publicity2, .image-publicity3 {
                height: 25%;
                width: 100%;
                }
            }
        }
    @media (max-width: 1100px) {
        .right-bar {
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            .image-publicity, .image-publicity2, .image-publicity3 {
                height: 25%;
                width: 20%;
            }
            .mtr-2 {
                font-size: 28px;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 1px;
            }
            .main-title-right {
                font-size: 28px;
                padding-top:1px;
                margin-left: auto;
                margin-right: auto;
                }
            }
        } 
    @media (max-width: 768px) {
        .right-bar {
            .main-title-right {
                font-size: 18px;
                margin-left: auto;
                margin-right: auto;
                }
            .mtr-2 {
                font-size: 22px;
                margin-left: auto;
                margin-right: auto;
            }
            .image-publicity, .image-publicity2, .image-publicity3 {
                height: 25%;
                width: 20%;
                }
            }
        }
    @media (max-width: 635px) {
        .right-bar {
            padding: 10px;
            .image-publicity, .image-publicity2, .image-publicity3 {
                height: 25%;
                width: 20%;
                padding: 10px;
            }
            .main-title-right {
                font-size: 14px;
                padding-left: 1px;
                padding-right: 1px;
                padding-bottom: 1px;
                padding-top: 1px;
            }
            .mtr-2 {
                font-size: 14px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @media (max-width: 600px) and (min-width: 555.01px) {
        .right-bar {
            height: auto;
            max-width: auto;
            .image-publicity, .image-publicity2, .image-publicity3 {
                // padding: 5px;
                // height: 6rem;
                // width: 100vh;
                height: 27%;
                width: 22%;
                padding: 10px;
                }
                .main-title-right{ 
                    font-size: 20px;
                }
                .mtr-2 {
                    font-family: fantasy;
                    font-size: 20px;
                    color:$color2;
                }
            }
        }
    @media (max-width: 555px) and (min-width: 480.01px) {
        .right-bar {
            height: auto;
            max-width: auto;
            .image-publicity, .image-publicity2, .image-publicity3 {
                height: 27%;
                width: 22%;
                }
                .main-title-right{ 
                    font-size: 18px;
                    padding: 2px;
                }
                .mtr-2 {
                    font-family: fantasy;
                    font-size: 15px;
                    color:$color2;
                }
            }
        }
        @media (max-width: 480px) and (min-width: 400px) {
            .right-bar {
                .image-publicity, .image-publicity2, .image-publicity3 {
                    padding: 5px;
                    height: 4rem;
                    }
                }
                .main-title-right{ 
                    font-size: 10px;
                    padding: 2px;
                }
                .mtr-2 {
                    font-family: fantasy;
                    font-size: 10px;
                    color:$color2;
                    padding: 2px;
                }
            }
}
