.right-bar-content {
    
    .right-bar {
        
        .image-publicity, .image-publicity2, .image-publicity3 {
            display:flex;
            padding: 15px;
            height: 11vw;
            max-width: 150%;
        }
        .main-title-right{ 
            font-family: fantasy;
            font-size: 22px;
            color: $color2;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 1px;
            padding-top: 50px;
        }
        .mtr-2 {
            font-family: fantasy;
            font-size: 22px;
            color:$color2;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 1px;
        }
    }
    @media (max-width: 1600px) {
        .right-bar {
            .image-publicity, .image-publicity2, .image-publicity3 {
            display:flex;
            padding: 20px;
            height: 13rem;
            }
        }
    }
    @media (max-width: 1520px) {
        .right-bar {
        .image-publicity, .image-publicity2, .image-publicity3 {
            padding: 20px;
            height: 13rem;
            }
        }
    }
    @media (max-width: 1300px) {
        .right-bar {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            .image-publicity, .image-publicity2, .image-publicity3 {
                display:flex;
                padding: 20px;
                height: 13rem;
            }
        .main-title-right, .mtr-2 {
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 1px;
            padding-top: 1px;
            }
    @media (max-width: 1100px) {
        display:flex;
            }
        }
    @media (max-width: 897px) and (min-width: 769.01px) {
        .right-bar {
            .image-publicity, .image-publicity2, .image-publicity3 {
                padding: 20px;
                height: 9rem;
                }
            }
        }
    @media (max-width: 768px) and (min-width: 600.01px) {
        .right-bar {
            .image-publicity, .image-publicity2, .image-publicity3 {
                padding: 20px;
                height: 8rem;
                }
            }
        }
    @media (max-width: 600px) and (min-width: 555.01px) {
        .right-bar {
            .image-publicity, .image-publicity2, .image-publicity3 {
                padding: 5px;
                height: 7rem;
                }
                .main-title-right{ 
                    font-size: 20px;
                    padding: 2px;
                }
                .mtr-2 {
                    font-family: fantasy;
                    font-size: 20px;
                    color:$color2;
                    padding: 2px;
                }
            }
        }
    @media (max-width: 555px) and (min-width: 480.01px) {
        .right-bar {
            .image-publicity, .image-publicity2, .image-publicity3 {
                padding: 5px;
                height: 5rem;
                }
                .main-title-right{ 
                    font-size: 14px;
                    padding: 3px;
                }
                .mtr-2 {
                    font-family: fantasy;
                    font-size: 14px;
                    color:$color2;
                    padding: 3px;
                }
            }
        }
        @media (max-width: 480px) and (min-width: 400px) {
            .right-bar {
                .image-publicity, .image-publicity2, .image-publicity3 {
                    padding: 5px;
                    height: 4rem;
                    }
                }
                .main-title-right{ 
                    font-size: 10px;
                    padding: 2px;
                }
                .mtr-2 {
                    font-family: fantasy;
                    font-size: 10px;
                    color:$color2;
                    padding: 2px;
                }
            }
    }
}